/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	color: var(--color-text);
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #ffffff;
	--color-background: #eee;
	--color-button: rgb(88, 9, 22);
}
/****************/
/* JOUW STYLING */
/****************/
body {
    background-image: url("../images/kehlani_bk.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	padding: 0;
	position: relative;
}

p {
margin: .6em;
}

header p {
display: flex;
justify-content: center;
margin: 0;
}


ul {
	padding: 0;
}


ol {
	padding: 1em; 
	margin: 1.5em;
}


img {
    width: 20em;
    padding: 0.5em;
}

h1 {
	font-size: 4em;
}

footer {
	margin: 2em;
}


h1 a {
    text-decoration: none;
    color: inherit; 
}


h1,
h2 {
	display: flex;
	justify-content: center;
}


iframe {
	margin: 0;
	display: flex;
	justify-self: center;
}

	
header li:nth-of-type(1) {
	background-color: rgb(97, 33, 33);
	display: flex;
	justify-content: center;
	padding: 0.5em;
	z-index: 100;
	position: fixed; 
    width: 100%; 
	left: 0;
	top: 0;
}

header li:nth-of-type(2) {
	display: flex;
	justify-content: left;
	font-size: 1em;
	padding: 0.5em;
	margin-top: 2em;
}

ul h2 {
	margin: 1em;
}

button {
	border: 0;
	background: var(--color-button);
	border-radius: .5em;
	box-shadow: 0 0.3125em 0 #6e1313;
	cursor: pointer;
	font: inherit;
	margin: 2em .8em;
	outline: 0;
	padding: 1em 2em;
	transition: all .1s linear;
}

button:hover { 
	background: rgb(200, 0, 0);
	transform: scale(1.05);
	transition: .4s;
}

main > button {
    position: sticky;
    top: 3em; 
}


article {
	margin: 1em;
}

article h2 {
font-size: 2em;
}

form {
margin: 1em;
}

form button {
margin-left: 10em;
}

section:nth-of-type(2) h3,
summary {
	display: flex;
	justify-content: center;
}


section :nth-of-type(1) ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

section:nth-of-type(1) ul li {
	margin: .6em;
	text-align: center;
}

section li {
	display: flex;
	justify-content: center;
	padding: .6em;
}

section nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

section nav ul li {
    text-align: center;
    margin: 1em;
}

 nav ul li img {
    width: 200px; 
}

summary {
text-decoration: underline;
}


footer li,
footer p {
	display: flex;
	justify-content: center;
	font-size: 0.7em;
}

@keyframes switch-animation {
    0% {
        content: url("../images/kehlani_poster.png");
    }
    100% {
        content: url("../images/kehlani_signed.png");
    }
}


img[aria-label="switch"] {
    animation-name: switch-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
} 






/* Styles for iPhone/iPad */ 
@media screen and (max-width: 380px) {
    section nav ul li {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }


    section nav ul li img {
        width: 180px;  
        margin-bottom: 0.5em; 
    }

    section nav ul li a {
        font-size: 1em;
        color: inherit;
        text-decoration: none;
    }
}




/* Tablet Styles (iPad) */
@media screen and (max-width: 550px)  {
    header ul {
        flex-direction: row;
        justify-content: space-around;
    }

    header iframe {
        width: 300px;
        height: 200px;
    }
	header li:nth-of-type(1) {
        width: 100%; 
        text-align: center;
    }
  
    header button {
        display: flex;
        justify-content: center;
        }

    h1 {
        font-size: 3em;
    }

    
    section:nth-of-type(1) ul {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

	

    section:nth-of-type(1) ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        margin: 1em;
    }

    section:nth-of-type(1) ul li img {
        width: 180px;
        margin-bottom: 0.5em;
    }

    section:nth-of-type(1) ul li a {
        text-align: center;
        font-size: 1em;
        color: inherit;
        text-decoration: none;
    }

    button {
        padding: 1em 2em;
        font-size: 1.1em;
    }
}







/* Desktop Styles */
@media screen and (min-width: 600px) and (max-width: 2000px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1em;
    }

    header ul {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding: 1em 0;
    }

	header li:nth-of-type(1) {
        width: 100%; 
        text-align: center; 
    }

	header button {
	display: flex;
	justify-content: center;
	}

    header iframe {
        width: 400px;
        height: 300px;
    }



    nav ul li img {
        width: 220px;
    }

    h1 {
        font-size: 4em;
    }

    section:nth-of-type(1) ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1.5em;
        justify-content: center;
    }

    section:nth-of-type(1) ul li {
        text-align: center;
    }


    section:nth-of-type(1) ul li img {
        width: 200px;
        height: 210px;
        margin-bottom: 0.5em;
        object-fit: cover;
    }

    section:nth-of-type(1) ul li a {
        display: block;
        font-size: 1.1em;
        color: inherit;
        text-decoration: none;
    }


    
    button {
        font-size: 1.2em;
        padding: 1.5em 3em;
        margin: 2em auto;
    }
}
